.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 10px;
    /*align-items: center;
    justify-items: center;*/
    place-items: center center;
    background: beige;
}

.grid > div {
    color: #ffffff;
    padding: 20px;
    font-size: 4vw;
}

.red {
    background: orangered;
    height: 40%;
    /*align-self: end;
    justify-self: start;*/
    place-self: end start;
}
.green {
    background: yellowgreen;
    height: 60%;
}
.blue {
    background: steelblue;
    height: auto;
    /*align-self: start;
    justify-self: end;*/
    place-self: start end;
}